# Configuración de base de datos
DB_CONNECTION=DB_CONNECTION
DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_DATABASE=DB_DATABASE
DB_USERNAME=DB_USERNAME
DB_PASSWORD=DB_PASSWORD

# Configuración de correo
MAIL_MAILER=smtp
MAIL_HOST=MAIL_HOST
MAIL_PORT=MAIL_PORT
MAIL_USERNAME=MAIL_USERNAME
MAIL_PASSWORD=MAIL_PASSWORD
MAIL_FROM_ADDRESS=MAIL_FROM_ADDRESS
MAIL_FROM_NAME=MAIN_FROM_NAME

# Configuración de servicio de whatsapp
WHATSAPP_SERVICE_URL=WHATSAPP_SERVICE_URL